@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display">Placeholder</h1>
    <a class="btn btn-info form-control text-white "> Create New Book </a>
    <>
</div>
